결측 값 행 제거 + 결측 값 많은 열 제거 + 수치 데이터 정규화 작업(수치 데이터이지만 값이 정해진 경우에는 label encoder로 변환)

In [9]:
import warnings
warnings.filterwarnings(action="ignore")
import datetime
import time
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

In [18]:
train_df = pd.read_parquet('../data/train.parquet').drop(columns=['SAMPLE_ID'])
test_df = pd.read_parquet('../data/test.parquet').drop(columns=['SAMPLE_ID'])

In [14]:
train_df.isna().sum()

ARI_CO                     0
ARI_PO                     0
SHIP_TYPE_CATEGORY         0
DIST                       0
ATA                        0
ID                         0
BREADTH                    1
BUILT                      0
DEADWEIGHT                 0
DEPTH                      1
DRAUGHT                    1
GT                         0
LENGTH                     1
SHIPMANAGER                0
FLAG                       0
U_WIND                153486
V_WIND                153486
AIR_TEMPERATURE       154365
BN                    153486
ATA_LT                     0
DUBAI                      0
BRENT                      0
WTI                        0
BDI_ADJ                    0
PORT_SIZE                  0
CI_HOUR                    0
dtype: int64

In [19]:
# datetime 컬럼 처리
train_df['ATA'] = pd.to_datetime(train_df['ATA'])
test_df['ATA'] = pd.to_datetime(test_df['ATA'])

# datetime을 여러 파생 변수로 변환
for df in [train_df, test_df]:
    df['year'] = df['ATA'].dt.year
    df['month'] = df['ATA'].dt.month
    df['day'] = df['ATA'].dt.day
    df['hour'] = df['ATA'].dt.hour
    df['minute'] = df['ATA'].dt.minute
    df['weekday'] = df['ATA'].dt.weekday

# # datetime 컬럼 제거
train_df.drop(columns=['ATA', 'U_WIND', 'V_WIND', 'AIR_TEMPERATURE', 'BN'], inplace=True)
test_df.drop(columns=['ATA', 'U_WIND', 'V_WIND', 'AIR_TEMPERATURE', 'BN'], inplace=True)

train_df.dropna(inplace=True)

In [21]:
train_df.iloc[0]

ARI_CO                                         CN
ARI_PO                                       EKP8
SHIP_TYPE_CATEGORY                           Bulk
DIST                                    30.736578
ID                                        Z517571
BREADTH                                      30.0
BUILT                                          28
DEADWEIGHT                                  73100
DEPTH                                        20.0
DRAUGHT                                      10.0
GT                                          38600
LENGTH                                      220.0
SHIPMANAGER                                CHMT36
FLAG                  China, People's Republic Of
ATA_LT                                         12
DUBAI                                       42.01
BRENT                                       43.16
WTI                                         40.96
BDI_ADJ                                1407.66833
PORT_SIZE                                 0.00166
CI_HOUR                                  3.048333
year                                         2020
month                                          10
day                                            15
hour                                            4
minute                                          3
weekday                                         3
Name: 0, dtype: object

In [ ]:
# WTI 처리

In [20]:
scaler = StandardScaler()

x = train_df[["DIST", "DEADWEIGHT", "GT", "LENGTH", "DUBAI", "BRENT", "WTI", "BDI_ADJ", "PORT_SIZE"]]
scaler.fit()

367440

In [22]:
train_df[train_df["WTI"] < 0]

,ARI_CO,ARI_PO,SHIP_TYPE_CATEGORY,DIST,ID,BREADTH,BUILT,DEADWEIGHT,DEPTH,DRAUGHT,...,WTI,BDI_ADJ,PORT_SIZE,CI_HOUR,year,month,day,hour,minute,weekday
4100,MZ,OZD2,Container,15.792119,L345311,20.0,27,18400,10.0,10.0,...,-37.63,693.822076,0.000041,3.017222,2020,4,20,16,50,0
5678,CN,EKP8,Bulk,31.005467,D575874,30.0,11,56600,20.0,10.0,...,-37.63,693.822076,0.001660,2.924722,2020,4,19,21,7,6
6149,TW,JWI3,Bulk,19.617501,F286466,40.0,13,87300,20.0,10.0,...,-37.63,693.822076,0.000990,4.785556,2020,4,19,21,0,6
12103,TW,JWI3,Bulk,13.276385,H721528,40.0,12,105000,20.0,10.0,...,-37.63,693.822076,0.000990,3.297222,2020,4,19,21,20,6
14679,CN,NGG6,Container,0.000000,X265562,20.0,10,12300,10.0,10.0,...,-37.63,693.822076,0.001743,0.000000,2020,4,20,0,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356661,BR,MMW5,Container,25.427086,G671822,40.0,9,57800,20.0,10.0,...,-37.63,693.822076,0.000051,20.800833,2020,4,19,8,37,6
356938,AU,WXQ2,Bulk,29.975992,D375217,40.0,7,181000,20.0,20.0,...,-37.63,693.822076,0.000057,74.745833,2020,4,17,2,33,4
357966,AU,WHH4,Bulk,22.525817,W644184,40.0,8,179000,20.0,20.0,...,-37.63,693.822076,0.000103,54.395556,2020,4,18,15,54,5
358425,SG,GIW5,Container,0.000000,U785243,50.0,8,117000,20.0,20.0,...,-37.63,693.822076,0.002615,0.000000,2020,4,20,2,41,0
366850,AU,WHH4,Bulk,25.530383,Q282425,50.0,12,208000,20.0,20.0,...,-37.63,693.822076,0.000103,141.865556,2020,4,14,9,31,1