결측 값 행 제거 + 결측 값 많은 열은 제거

In [1]:
import warnings
warnings.filterwarnings(action="ignore")
import datetime
import time
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

In [2]:
train_df = pd.read_parquet('../data/train.parquet').drop(columns=['SAMPLE_ID'])
test_df = pd.read_parquet('../data/test.parquet').drop(columns=['SAMPLE_ID'])

In [14]:
train_df.isna().sum()

ARI_CO                     0
ARI_PO                     0
SHIP_TYPE_CATEGORY         0
DIST                       0
ATA                        0
ID                         0
BREADTH                    1
BUILT                      0
DEADWEIGHT                 0
DEPTH                      1
DRAUGHT                    1
GT                         0
LENGTH                     1
SHIPMANAGER                0
FLAG                       0
U_WIND                153486
V_WIND                153486
AIR_TEMPERATURE       154365
BN                    153486
ATA_LT                     0
DUBAI                      0
BRENT                      0
WTI                        0
BDI_ADJ                    0
PORT_SIZE                  0
CI_HOUR                    0
dtype: int64

In [3]:
# datetime 컬럼 처리
train_df['ATA'] = pd.to_datetime(train_df['ATA'])
test_df['ATA'] = pd.to_datetime(test_df['ATA'])

# datetime을 여러 파생 변수로 변환
for df in [train_df, test_df]:
    df['year'] = df['ATA'].dt.year
    df['month'] = df['ATA'].dt.month
    df['day'] = df['ATA'].dt.day
    df['hour'] = df['ATA'].dt.hour
    df['minute'] = df['ATA'].dt.minute
    df['weekday'] = df['ATA'].dt.weekday

# # datetime 컬럼 제거
train_df.drop(columns=['ATA', 'U_WIND', 'V_WIND', 'AIR_TEMPERATURE', 'BN'], inplace=True)
test_df.drop(columns=['ATA', 'U_WIND', 'V_WIND', 'AIR_TEMPERATURE', 'BN'], inplace=True)

train_df.dropna(inplace=True)

In [4]:
train_df.head()

,ARI_CO,ARI_PO,SHIP_TYPE_CATEGORY,DIST,ID,BREADTH,BUILT,DEADWEIGHT,DEPTH,DRAUGHT,...,WTI,BDI_ADJ,PORT_SIZE,CI_HOUR,year,month,day,hour,minute,weekday
0,CN,EKP8,Bulk,30.736578,Z517571,30.0,28,73100,20.0,10.0,...,40.96,1407.668330,0.001660,3.048333,2020,10,15,4,3,3
1,CN,EUC8,Container,63.220425,U467618,30.0,15,37900,20.0,10.0,...,59.34,2089.046774,0.001614,17.138611,2019,9,17,2,55,1
2,CN,NGG6,Container,90.427421,V378315,50.0,7,115000,20.0,10.0,...,56.94,603.193047,0.001743,98.827500,2019,2,23,6,43,5
3,JP,TMR7,Cargo,0.000000,B726632,10.0,33,1490,10.0,0.0,...,41.11,1169.853455,0.000069,0.000000,2020,9,18,22,6,4
4,RU,NNC2,Container,8.813725,D215135,30.0,10,27600,10.0,10.0,...,88.11,1107.944894,0.000197,96.030556,2022,8,13,12,57,5

In [5]:
test_df.head()

,ARI_CO,ARI_PO,SHIP_TYPE_CATEGORY,DIST,ID,BREADTH,BUILT,DEADWEIGHT,DEPTH,DRAUGHT,...,BRENT,WTI,BDI_ADJ,PORT_SIZE,year,month,day,hour,minute,weekday
0,JP,HYG5,Tanker,9.508139,R721438,20.0,9,5510,10.0,10.0,...,96.49,89.55,766.977634,0.000256,2022,8,27,8,29,5
1,SG,GIW5,Container,24.186684,G185231,40.0,14,109000,20.0,10.0,...,104.64,100.60,1655.006791,0.002615,2022,3,27,20,57,6
2,TW,EKP8,Cargo,0.000000,P862781,20.0,14,13700,10.0,10.0,...,84.98,79.48,682.595117,0.000427,2023,1,18,2,6,2
3,JP,HYG5,Bulk,0.000000,B415437,10.0,18,2840,10.0,10.0,...,41.80,39.51,629.378100,0.000256,2016,8,2,0,59,1
4,SG,GIW5,Container,19.834186,J412562,30.0,23,30700,20.0,10.0,...,86.13,80.13,563.101921,0.002615,2023,1,24,0,27,1

In [6]:
train_df.to_parquet("../data/train_v0.parquet")
test_df.to_parquet("../data/test_v0.parquet")